# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: 0BSD
watch_file ./flake.nix
watch_file ./flake.lock
watch_file ./by-name/de/dev/flake.nix
watch_file ./by-name/de/dev/flake.lock
watch_file ./by-name/de/dev/flake-module.nix
use flake ./by-name/de/dev --impure
